.ContButton::after {
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    background: rgb(222, 222, 228);
    text-decoration: underline;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.ContButton:hover::after {
    transform: scaleX(1);
    background: rgb(205, 205, 211);
}