/* .footer{
    overflow-x: hidden;
}

.footer::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 50%;
    top: 0%;
    left: 0%;
    background-color: #110350;
    border-radius: 43% 0% 59% 80% / 50% 32% 33% 30%;
    z-index: 1;
    opacity: 0.4;
} */